<div class="row">
<div class="col-md-10 col-md-offset-1">
<%= form_for @contact do |f| %>

<div class="form-group">
<%= f.label :name %>
<%= f.text_field :name, required: true, class: "form-control" %>
</div>

<div class="form-group">
<%= f.label :email %>
<%= f.email_field :email, required: true, class: "form-control" %>
</div>


<div class="form-group">
<%= f.label :message %>
<%= f.text_area :message, class: "form-control", rows: "6" %>
</div>

<div class="hidden">
  <%= f.label :nickname %>
  <%= f.text_field :nickname, hint: 'Leave this field blank' %>
</div>

<%= f.submit 'Send Message', class: 'btn' %>

<% end %>
</div>
</div>