<%= form_for @post do |f| %>

<div class="form-group">
  <%= f.label :title %>
  <%= f.text_field :title, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :body %>
  <%= f.text_area :body, class: "form-control", rows: "20"%>
</div>

<div class="form-group">
  <label>Photo</label>
  <%= f.file_field :picture, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.submit "Send" %>
</div>

<% end %>